<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <div id="labes">
            <label >Name</label>
            <label >Url</label>
            <label >Tags</label>
            <label >Description</label>
        </div>

        <div id="inputs">
            <div>
                <input type="text" name="Name">
                <input type="text" name="Url">
                <input type="text" name="Tags">
                <input type="text" name="Description">
            </div>
        </div>

        <button type="button" id="Add">Add</button>
        <button type="submit" form="form1" value="Submit">Submit</button>
        <script src="app.js"></script>
    </body>
</html>