<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='/dashboard.css') }}">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script>
            htmx.config.withCredentials = true;
        </script>
    </head>
    <body>

    <button type="button" onclick="enableAllRows()">Edit All Rows</button>

    <form method="post" action="/dashboard" onsubmit="return validate()">

        <table >
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Tags</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for resource in resources %}
                <tr>

                    <input type="hidden" name="id" value="{{ resource.id }}">

                    <td><input name="title" value="{{ resource.title }}" disabled></td>
                    <td><input name="url" value="{{ resource.url }}" disabled></td>
                    <td><input name="tags" value="{{ resource.tags }}" disabled></td>
                    <td><input name="description" value="{{ resource.description }}" disabled></td>

                    <td>
                        <button type="button"
                                hx-delete="/resources/{{ resource.id }}"
                                hx-headers='{"Authorization": "Bearer {{ token }}"}'
                                hx-target="closest tr"
                                hx-swap="delete">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <button id="save_b" type="submit" disabled>Save All Changes</button>

    </form>

    <script>
        function validate() {
            const rows = document.querySelectorAll("table tbody tr");

            for (const row of rows) {
                const title = row.querySelector('[name="title"]').value;
                const url = row.querySelector('[name="url"]').value;
                const tags = row.querySelector('[name="tags"]').value;
                const description = row.querySelector('[name="description"]').value;

                if (!title && !url && !tags && !description) {
                    alert("Empty row detected. Please fill at least one field or delete the row.");
                    return false; 
                }
            }
            return true;
        }

        htmx.on("htmx:configRequest", (event) => {
            const tokenCookie = document.cookie.split('; ').find(row => row.startsWith('token='));
            if (tokenCookie) {
                const token = tokenCookie.split('=')[1];
                event.detail.headers["Authorization"] = `Bearer ${token}`;
            }
        });

        function enableAllRows() {
            const inputs = document.querySelectorAll("table tbody input");
            inputs.forEach(input => {
                if (input.type != "hidden") input.removeAttribute("disabled");
            });

            const subButton= document.getElementById("save_b");
            subButton.removeAttribute("disabled");
        }
    </script>

    </body>
</html>