<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <p>Welcome to the the Link-Saver</p>
    <p>Link-Saver is a web application where users can login and add links with description, title, and tags. 
        The app also allow users to edit the saved resources.
    </p>
    <h><strong>How to Use It</strong></h>
    <p><strong>1.</strong> Register by clicking the link.</p>
    <p><strong>2.</strong> Add your urls along with other fields.</p>
    <p><strong>3.</strong> By switching to dashboard page you can review and edit the saved resources.</p>
</body>
</html>