<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="http://127.0.0.1:8000/register" method="post" id="register_form">
            <label >Email</label>
            <input type="text" name="Email">
            <label >Password</label>
            <input type="password" name="Password" id="password">
            <label >Password</label>
            <input type="password" name="check_password" id="check_password">
            <button type="submit">Register</button>
        </form>
        <script src="/static/register.js"></script>
    </body>
</html>